*{
	margin: 0px;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.head{
	height: 173px;
	background-color: rgb(242,242,242);
}
.logo{
	height: 97px;
	text-align: center;
	padding-top: 30px;
}
.nav{
	height: 46px;
	width: 672px;
	background-color: white;
	border-radius: 23px;
	margin: 0 auto;
}
.li{
	color: black;
}
.nav li{
	height: 14px;
	float: left;
	padding: 16px 25px;
	background: url(../images/line.jpg) no-repeat right center;
	overflow: hidden;
}
.nav li:last-child{
	background: none;
}
.a{
	color: rgb(30,80,174);
	padding-bottom: 5px;
	border-bottom: 3px  solid ;
}
.banner{
	height: 408px;
	background: url(../images/images/banner.png) no-repeat center center;
}
.serive{
	height: 803px;
}
.title{
	text-align: center;
	margin-top: 63px;
}
.p{
	margin-top: 25px;
}
.images-top{
	margin-top: 66px;
	height: 300px;
	background-color: white;
}
.images-bottom{
	margin-top: 65px;
	height: 190px;
	background-color: white;
}
.li-top{
	height: 350px;
	width: 150px;
	margin-left: 160px;
	float: left;
	background-color: white;
	text-align: center;
}
.li-bottom{
	height: 100px;
	width: 150px;
	margin-left: 160px;
	float: left;
	background-color: white;
	text-align: center;
}
.li-top-h5{
	margin-top: 25px;
}
.top-a{
	margin-top: 8px;
	margin-left: 30px;
	float: left;
}
.solve{
	height: 642px;
	background:url(../images/bg.png) no-repeat center center;
	padding-top: 70px;

}
.solve-ul{
	height: 450px;
	width: 100%;
}
.left{
	margin-top: 150px;
	margin-left: 0px;
}
.solve-li{
	margin-top: 75px;
	margin-left: 44px;
	float: left;
}
.solve-h1{
	margin-left: 615px;
	color: white;
}
.solve-p{
	color: white;
	margin-left: 620px;
	margin-top: 20px;
}
.right{
	margin-top: 150px;
}
.link{
	text-align: center;
	height: 35px;
	width: 234px;
	border: 3px solid white;
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 10px;
}
.information{
	height: 450px;
	text-align: center;

}
.information-title{
	height: 70px;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}
.latest{
	color: rgb(51,51,51);
	margin-top: 30px;
}
.english{
	color: rgb(51,51,51);
	margin-top: 15px;
}
.jiaoyi{
	color: rgb(93,93,93);
}
.p-english{
	color: rgb(51,51,51);
}
.message{
	color: rgb(150,150,150);
}

.information-img{
	height: 430px;
	width: 700px;
	float: left;
	margin-top: 20px;
}
.information-body{
	height: 430px;
	width: 500px;
	text-align: left;
	float: right;
	margin-top: 20px;
	margin-right: 200px;
}
.more{
	display: block;
	height: 32px;
	width: 140px;
	margin-top: 35px;
	padding-top: 8px;
	text-align: center;
	border: 1px solid rgb(17,65,163);
	border-radius:22px;
}
.question{
	height: 270px;
	text-align: center;
}
.question-left{
	height: 270px;
	width: 700px;
	float: left;
	text-align: center;
}
.question-right{
	height: 270px;
	width: 600px;
	float: right;
	text-align: center;
	margin-right: 100px;
}
.li-left{
	height: 50px;
	border-bottom:1px dashed rgb(121,121,121); 
}
.li-right{
	height: 50px;
	border-bottom:1px dashed rgb(121,121,121); 
}
.else{
	height: 120px;
	margin-top: 90px;
	background-color: rgb(245,245,245);
	padding-top: 25px;
}
.else-li{
	height: 100px;
	width: 250px;
	border-right: 1px solid rgb(224,224,224);
	float: left;
	margin-top:20px;
	margin-left: 45px;
}
.else-img{
	float: left;
}
.p1{
	float: left;
	margin-left: 20px;
	color: rgb(95,95,95);
}
.p2{
	margin-left: 20px;
	float: left;
	color: rgb(95,95,95);
}
.bottom{
	height: 386px;
	background-color: rgb(50,50,50);
	padding-top: 75px;
}
.all{
	height: 170px;
	border-bottom:1px solid rgb(224,224,224);
}
.last-box{
	width: 74px;
	height: 150px;
	float: left;
	margin-left: 115px;
	text-align: center;
}
.last-a{
	display: block;
	padding-top: 20px;
	height:35px;
	color: white;
}
.wechat{
	height: 150px;
	width: 245px;
	float: left;
	margin-left: 100px;
	border-right: 1px solid white;
}
.two{
	float: left;
}
.say{
	float: left;
	margin-left: 34px;
	height: 150px;
}
.sweep{
	height: 7px;
}
.bottom-right{
	height: 130px;
	width: 300px;
	float: left;
	text-align: left;
	margin-left: 15px;
	padding-top: 20px;
}
.phone{
	color: white;
}
.QQ{
	height: 35px;
	padding-top: 20px;
	color: white;
}
.weixin{
	height: 35px;
	color: white
}
.end{
	height: 60px;
	width: 100%;
	margin-top: 40px;
	margin-left: 470px;
	float: left;
}
.end-li{
	height: 20px;
	float: left;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	border-right: 1px solid rgb(255,255,255)
}
.zhongzhixinyuan{
	text-align: center;
}
.white{
	color: white;
}
.h4{
	color: white
}
.pro{
	color: white;
}
.zhong{
	color: white;
}